<div class="about">
<h1>멋사 6기</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et ligula tempus, feugiat ante vitae, porta leo. Quisque lobortis mi eget tortor sagittis, quis tristique libero laoreet. In quis purus in risus sodales maximus quis eget eros. Vivamus consectetur placerat ante, sit amet malesuada mauris dapibus quis. Morbi sit amet augue congue, luctus metus nec, molestie metus. Aenean sed rutrum sapien, sit amet pellentesque orci. Pellentesque iaculis consectetur est, tincidunt efficitur tellus posuere ac. Praesent elementum erat in malesuada ullamcorper. In fringilla nulla in suscipit porta. In et neque purus.
</p>
</div>